.stream{
	width: 32%;
	height: 328px;
	display: block;
	position: relative;
	overflow: hidden;
	margin: 5px;
	border: 1px solid rgba(141, 168, 255, 0.5);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-clip: padding-box;
	background: rgba(0, 0, 0, 0.18);
	float: left;
}

.streamlist{
	/*background: rgba(255, 255, 255, 1);*/
	border: 1px solid rgba(255,255,255,.1);
	padding: 5px;
	margin-bottom: 3px;
	height: 22px;
	overflow: hidden;
	-webkit-transition: background-color 1s ease, height 1s ease;
	-moz-transition: background-color 1s ease, height 1s ease;
	-o-transition: background-color 1s ease, height 1s ease;
	transition: background-color 1s ease, height 1s ease;
}

.streamlist:hover{
	/*background: rgba(255, 255, 255, 1);*/
	color: #ffffff;
	height: 80px;
	text-decoration: none;
}

.logoicon{
	height: 25px;
	width: 25px;
	border: 1px solid #fff;
	float: left;
	margin-left: 5px;
}

.gameicon2{
	height: 25px;
	width: 25px;
	border: 1px solid #fff;
	float: left;
	margin-left: 5px;
}

.desc {
	font-size: 12px;
	text-align: center;
	float: left;
	margin: 5px;
	color: #ffffff;
	width: 100%;
}

.arrow {
	width: 15px;
	height: 15px;
	float: right;
}

.streamer {
	float: left;
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
	width: 60%;
	margin-left: 15px;
	color: #ffffff;
}

.onlinebadge {
	position: absolute;
	float: right;
	margin-left: 166px;
	margin-top: 7px;
	z-index: 2;
}

.thumb_bg{
	position: relative;
	overflow: hidden;
	height: 194px;
	width: 96%;
	margin-top: 8px;
	margin-left: 6px;
	margin-right: 6px;
	border: 1px solid #00FF17;
}

.thumb_bg2{
	position: relative;
	overflow: hidden;
	height: 194px;
	width: 96%;
	margin-top: 8px;
	margin-left: 6px;
	margin-right: 6px;
	border: 1px solid #FF0000;
}

.stream_title_on{
	text-align: center;
	margin: 10px;
	font-size: 18px;
	font-weight: bold;
	/*color: #b0120a;*/
	color: #000000;
}
.stream_title_off{
	text-align: center;
	margin: 10px;
	font-size: 18px;
	font-weight: bold;
	/*color: #b0120a;*/
	color: #000000;
}
.gametit, .sttitle, .follow, .viewer{
	margin: 0 10px;
	font-size: 13px;
}

.follow{
	float: left;
	margin: 0px 16px;
}
.viewer{
	float: right;
	margin: 0px 59px;
}

.info{
	background-color: #b0120a;
	width: 640px;
}
.stream_mar{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.stream_name{
	font-weight: bold;
	font-size: 20px;
	color: #fff;
}
.stream_tit{
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}
.gameicon{
	padding: 5px 10px;
	float: left;
}
.stream_info{
	padding: 10px;
	border: 2px solid #000;
	margin-bottom: 5px;
}

.description{
	margin: 25px;
	background-color: #B5B1B1;
	padding: 10px;
	border: 1px solid #1D1C1C;
}
